<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speedtest</title>
    <script src="../public/index.js"></script>
    <link href="../public/index.css" rel="stylesheet">
</head>
<body>
    <div class="logo"></div>
    <h1>Speedtest</h1>
    <h5>Download:</h5>
    <h2 id="download" class="measurement-inactive">0.00 Mbps</h2>
    <h5>Upload:</h5>
    <h2 id="upload" class="measurement-inactive">0.00 Mbps</h2>

    <button id="startMeasure" class="start-disabled">Start Measuring now</button>

    <div class="legalContainer">
        <a>AGB</a>
        <a>Datenschutz</a>
        <a>Impressum</a>
        <span>© peer2 2024</span>
    </div>
</body>
</html>