<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speedtest</title>
    <script src="../public/index.js"></script>
</head>
<body>
    <h1>Speedtest</h1>
    <h5>Download:</h5>
    <h2 id="download">0</h2>
    <h5>Upload:</h5>
    <h3 id="upload">0</h3>

    <button id="startMeasure">Start Measuring now</button>

</body>
</html>